.card-container {
  filter: drop-shadow(0px 1.92651px 3.85303px rgba(41, 37, 51, 0.1));
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

iframe {
  width: 100% !important;
}